#img-bg{
    background-image:url('../../assets/img/5mot.gif');
min-height: 695px;

background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.danger {
    background-color: #d14f4a;
    box-shadow: 0px 5px 0px 0px #cf1e1e;
  }
  
  .danger:hover {
    background-color: #d39e9c;
  }

  .purple {
    background-color: #9b59b6;
    box-shadow: 0px 5px 0px 0px #82409D;
  }
  
  .purple:hover {
    background-color: #B573D0;
  }