#img-bg{
    background-image:url('../../assets/img/00.gif');
min-height: 695px;

background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.purple {
    background-color: #9b59b6;
    box-shadow: 0px 5px 0px 0px #82409D;
  }
  
  .purple:hover {
    background-color: #B573D0;
  }
